// File location: assets\src\sass\styles
.header-main {
  z-index: 2;
}
@include desk-min {
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    ul {
      display: flex;
    }
  }
  .stick-top .header-version-1 {
    .header-top {
      position: sticky;
      top: 0;
    }
  }
  .stick-main .header-version-1 {
    .header-main {
      position: sticky;
      top: 0;
    }
  }
  .header-version-1 {
    .header-top {
      display: flex;
      justify-content: space-between;
      background-color: var(--color-2);
      padding: 1rem 2.5rem;
      color: #fff;
      z-index: 2;
      div {
        width: 100%;
        text-align: center;
      }
      &.left {
        .section_inner {
          justify-content: left;
        }
      }
      &.middle {
        .section_inner {
          justify-content: center;
        }
      }
      &.right {
        .section_inner {
          justify-content: right;
        }
      }
    }
    .header-main {
      background-color: #fff;
      &-inner {
        display: flex;
        width: 90%;
        max-width: 1600px;
        margin: auto;
        align-items: center;
        padding: 1.5rem 0;
        #primary-menu {
          justify-content: flex-end;
          a {
            text-transform: uppercase;
            margin-right: 2rem;
            color: var(--color-text);
            font-size: 2rem;
          }
        }
        .logo-wrap {
          flex: 15% 0 0;
          line-height: 0;
        }
        .nav-button {
          flex-shrink: 0;
          margin-left: 3rem;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}