.title- {
	&style-1 {
		font-size: var(--title-size-1);
		color: var(--color-1);
	}
	&style-2 {
		font-size: var(--title-size-2);
		color: var(--color-2);
	}
	&style-3 {
		font-size: var(--title-size-3);
		color: var(--color-3);
	}
	&style-4 {
		font-size: var(--title-size-4);
		color: var(--color-1);
	}
	&style-5 {
		font-size: var(--title-size-5);
		color: var(--color-2);
	}
	&style-6 {
		font-size: var(--title-size-6);
		color: var(--color-3);
	}
}
