.hero {
  background-size: cover;
  .hero_inner {
    display: flex;
    flex-direction: column;
    div {
      max-width: 1080px;
      margin-bottom: 3rem;
      display: block;
      color: #fff;
    }
  }
  h1 {
    font-size: 12rem;
    line-height: 1;
    color: #fff;
  }
  h2 {
    font-size: 8rem;
    color: #fff;
  }
  .il_btn {
    padding: 1rem 4rem;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    border-radius: 3rem 0 3rem 3rem;
    border: none;
  }
}
